.App{
  margin: 2vw;
  display: flex;
}

.recipe-list{
  background: lightblue;
  width: 300px;
  padding: 20px;
  min-height: 70vh;
  margin-right: 100px;
}

.recipe-list h1:hover{
  color:gray;
  cursor: pointer;
}

.recipe-list h2{
  border-bottom: 1px solid black;
  display: inline-block;
}
.selected{
  color: orange;
}